.fulfillmentRowContainer {
    position: relative;
    width: 0;
    height: 0;
    z-index: 1;
}

.fulfillmentName {
    margin-left: 8px;
    height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.fulfillmentIconHolder {
    height: 24px;
    margin-left: 8px;
}
