

.cellSpacer {
    width: 32px;
}

.taskTable {
    border-collapse: collapse;
}

.taskTable td, .taskTable th {
    border-style: solid;
    border-color: rgb(197, 197, 197);
    border-width: 1px;
    height: 64px;
    white-space: pre;
}

.taskTable th {
    border-bottom-width: 3px;
    border-bottom-color: rgb(0, 0, 0);
}

.taskTable .codeCell {
    width: 64px;
}

.taskTable .nameCell {
    width: 256px;
}
