
.calendarOuterHolder {
    display: flex;
    flex-direction: column;
}

.addNewTaskButton {
    padding: 16px;
    margin: 16px;
    margin-bottom: 48px;
    font-size: 16px;

    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: bold;
    transition: 0.1s;
}

.addNewTaskButton:hover {
    background-color: rgb(223, 223, 223);    
}

